ErrorDocument 403 /soulfame/forbidden.php
RewriteEngine on
RewriteCond %{REQUEST_URI} !forbidden.php$
RewriteCond %{REQUEST_URI} !reset_path.php$
RewriteCond %{REQUEST_URI} !assets/.*$
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
