
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
    color: #666666;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    font-size-adjust: 100%;
    font-weight: 400;
    font-size: 13px;
	line-height: 1.475;
    background-color: #FFF;
}
#main {
	height: 100%;
    width: 100%;
    position: relative;
	background: #e8e8e8;	
}
#content_wrapper {
	position: relative;
    display: block;
    min-height: 1000px;
 	left: 0px;
	margin-left: 230px;
}
/* Bootstraps ".container" class has been changed to a fluid full 
 * width container */
.container { width: 100% }

/*===============================================
  B. Grid
================================================= */
.row {
	margin-left: -11px;
	margin-right: -11px;
}
.row.table-layout {
	margin-left: 0;
	margin-right: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 11px;
	padding-right: 11px;	
}

/*===============================================
  C. Typography
================================================= */
ul, ol { padding-left: 30px }
li { margin-bottom: 7px }
a { color: #666 }
a:hover { color: #d9534f }
a:focus { outline: none }
p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 22px;
    font-weight: 400;
}
p.small, p small { font-size: 13px }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: inherit;
    text-rendering: optimizelegibility;
    margin-bottom: 10px;
}
h1 {
    font-size: 30px;
    line-height: 45px;
}
h1.small { font-size: 26px; }
h2 {
    font-size: 24px;
    line-height: 36px;
}
h2.small { font-size: 20px; }
h3 {
    font-size: 18px;
    line-height: 27px;
}
h3.small { font-size: 16px; }
h4, h5, h6 {
	line-height: 18px 
}
h4 { font-size: 15px }
h5 { font-size: 13px }
h5.small,
h5 small { font-size: 12px }
h6 {
    font-size: 11px;
    color: #999999;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999;
}

.fw400 { font-weight: 400 }
.fw600 { font-weight: 600 }
.fw700 { font-weight: 700 }

.text-uppercase { text-transform: uppercase }

/* Specialty Header - Also a Divider */
.page-header {
    text-shadow: 0 1px #FFF;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/* Dividers */
hr {
    margin: 35px 0;
    border-top: 1px solid #DDD;
}
hr.alt { border-top: 1px dashed #CCC }
hr.short { margin: 20px 0 }
hr.tall { margin: 55px 0 }

.divider {
    height: 1px;
    margin: 25px 0;
    background: #e2e2e2;
}

/* Carets */
.caret-xs {	border-width: 2px; }
.caret-sm {	border-width: 3px; }
.caret-lg {	border-width: 5px; }

/*===============================================
  D. Animations
================================================= */
/* used in conjuction with "data-animate" 
 * attr to create a delayed page animation
 * read docs for more info on proper use*/
.animated-delay { opacity: 0 }
.sparkline-delay {
	height: 0;
	display: block;
	line-height: 40px;
}